{% extends 'layout.html' %}
{% block title %}
    {% if 'edit_post' in request.endpoint %}
        Edit Post - {{ post.title }}
    {% endif %}
{% endblock title %}
{% block stylesheet %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock stylesheet %}
{% block content %}
    <div class="my-3">
        <h2 class="my-4">Share life experiences and more!</h2>
        <form method="Post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.subtitle.label(class="form-control-label") }}
                    
                    {% if form.subtitle.errors %}
                        {{ form.subtitle(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.subtitle.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.subtitle(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.content(class="form-control-lg form-control", id="hidden_form_content") }}
                    
                    <div id="editor" onkeyup="updateOther(this)" style="height: 375px;">
                        {% if post is defined %}
                            {{post.content|safe}}
                        {% endif %}
                    </div>

                    {% endif %}                
                </div>
            </fieldset>
            <div class="form-group">
                <!--{{ form.submit(class="btn btn-primary", onclick="myFunc()") }}-->
                <button class="btn btn-primary", onclick="myFunc()">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <a class="btn btn-primary" href="{{url_for('blog')}}">
                    <i class="fa fa-close"></i> Cancel
                </a>
                {% if 'edit_post' in request.endpoint %}
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirm_delete">
                        <i class="fa fa-trash"></i> Delete Post
                    </a>
                {% endif %}
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm-delete">Are you sure you want to delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This post will be permanently deleted.
                        Maybe you'd like to edit it instead?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {% if post is defined %}
                            <a type="button" class="btn btn-danger" href="{{url_for('delete_post', post_id = post.id)}}">Confirm delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <!-- Initialize Quill -->
    <script>
        var toolbarOptions = [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
            ];
        
        var options = {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: 'Type away!...',
            theme: 'snow'
        };

        var quill = new Quill('#editor', options);

        function myFunc(){
            var x = quill.root.innerHTML;
            document.getElementById('hidden_form_content').value = x
        }

    </script>
{% endblock script %}